@font-face {
   font-family: "Gilroy";
   src: url(./fonts/Gilroy/Gilroy-Light.otf);
}

body {
   font-family: 'Gilroy';
   margin: 0;
   padding: 0;
}

.header {
   background-color: white;
   height: 100px;
   padding: 0 88px 0 105px;
}

.header_wrapper {
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 100px;
}

.nav_link,
.nav_link_last {
   color: #828282;
   text-decoration: none;
   font-size: 18px;
   line-height: 22px;
   font-weight: 700;
   margin-right: 170px;
}

.nav_link_last {
   margin-right: 0;
}


.nav_link_home {
   color: #070707;
   text-decoration: none;
   font-size: 18px;
   line-height: 22px;
   font-weight: 700;
   margin-right: 140px;
}

.vector {
   position: absolute;
   width: 1010px;
   height: 0px;
   margin-bottom: -80px;

   border: 1px solid #828282;
   transform: matrix(1, 0, 0, 1, 0, 0);
}

.main {
   width: 1300px;
   height: 700px;
}

.container_main {
   width: 1300px;
   height: 200px;
}

.main_foto {
   background-repeat: no-repeat;
   width: 940px;
   height: 500px;
   background-image: url(./images/foto.jpg);
   position: relative;
   left: 250px;
   text-align: center;
}

.main_description h1 {
   position: relative;
   top: 40px;
   left: 105px;
   max-width: 125px;
   color: #070707;
}

.decription_text {
   position: relative;
   top: 40px;
   left: 650px;
   font-size: 18px;
   line-height: 22px;
   color: #070707;

}

.description_language {
   font-family: 'Gilroy';
   font-size: 16px;
   line-height: 20px;
   color: #828282;
   transform: rotate(-90deg);
   position: inherit;
}

.description_language span{
   color: #000000;  
}

.about-me{
   background-image: url(./images/Rectangle.png);
   width: 1300px;
   height: 500px;

}
.container_about-me{
   width: 1300px;
   height: 500px;
}

.info{
font-family: 'Gilroy';
font-size: 34px;
line-height: 42px;
text-align: center;
color: #070707;

margin-top: 100px;
}
.about-me_text{
   text-align:  center;
   top: 50%; 
  left: 50%; 
}
