@font-face {
   font-family: "Gilroy";
   src: url(./fonts/Gilroy/Gilroy-Light.otf);
}

body {
   font-family: 'Gilroy';
   margin: 0;
   padding: 0;
}

.header {
   background-color: white;
   height: 100px;
   padding: 0 88px 0 105px;
}

.header_wrapper {
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 100px;
}

.nav_link,
.nav_link_last {
   color: #828282;
   text-decoration: none;
   font-size: 18px;
   line-height: 22px;
   font-weight: 700;
   margin-right: 170px;
}

.nav_link_last {
   margin-right: 0;
}


.nav_link_home {
   color: #070707;
   text-decoration: none;
   font-size: 18px;
   line-height: 22px;
   font-weight: 700;
   margin-right: 140px;
}

.vector {
   position: absolute;
   width: 1010px;
   height: 0px;
   margin-bottom: -80px;

   border: 1px solid #828282;
   transform: matrix(1, 0, 0, 1, 0, 0);
}

.main {
   width: 1300px;
   height: 700px;
}

.container_main {
   width: 1300px;
   height: 150px;
}

.main_foto {
   background-repeat: no-repeat;
   width: 940px;
   height: 500px;
   background-image: url(./images/foto.jpg);
   position: relative;
   left: 250px;
   text-align: center;
}

.main_description {
   margin-left: 90px;
   margin-top: 40px;
   width: 1100px;

   display: flex;
   flex-direction: row;
   justify-content: space-between;
   flex-wrap: wrap;
}

.main_description h1 {
   top: 40px;
   left: 105px;
   max-width: 125px;
   color: #070707;
}

.decription_text {
   top: 40px;
   left: 650px;
   font-size: 18px;
   line-height: 22px;
   color: #070707;
   margin-right: 30px;

}

.description_language {
   font-family: 'Gilroy';
   font-size: 16px;
   line-height: 20px;
   color: #828282;
   transform: rotate(-90deg);
   position: inherit;
}

.description_language span {
   color: #000000;
}

.about-me {
   background-image: url(./images/Rectangle.png);
   width: 1300px;
   height: 500px;

}

.container_about-me {
   width: 1300px;
   height: 500px;
}

.info_about-me {
   font-family: 'Gilroy';
   font-size: 34px;
   line-height: 200px;
   text-align: center;
   color: #070707;

   margin-top: 100px;
   margin-bottom: 0px;
}

.about-me_text {
   text-align: center;
   top: 50%;
   left: 50%;
}

.skills {
   width: 1300px;
   height: 500px;
}

.container_skills {
   width: 1300px;
   height: 500px;
}


.skills_text {
   font-family: 'Gilroy';
   font-size: 34px;
   line-height: 100px;
   text-align: center;
   color: #070707;

   margin-top: 100px;
   margin-bottom: 0px;
}

.skills_description {
   text-align: center;
   top: 50%;
   left: 50%;
}

.skills_programs {
   height: 100px;
   margin-top: 50px;
   text-align: center;
   margin-left: 200px;
   margin-right: 200px;

   display: flex;
   justify-content: space-around;
}

.programs_text {
   width: 908px;
   font-family: "Gilroy";
   font-size: 14px;
   line-height: 17px;
   text-align: center;

   margin-left: 200px;
   margin-right: 205px;

   color: #828282;
   display: flex;
   justify-content: space-around;
}

.programs_stars {
   width: 930px;
   margin-left: 200px;
   margin-right: 200px;

   display: flex;
   justify-content: space-around;
}

.container_portfolio {
   background-image: url(./images/bg-2.png);
   width: 1300px;
   height: 2250px;
}

.info_portfolio {
   font-family: 'Gilroy';
   font-size: 34px;
   text-align: center;
   color: #070707;
   margin: 0px;
   line-height: 200px;
}

.img_portfolio {
   margin-top: 50px;
   margin-bottom: 50px;
   margin-left: 150px;
   text-align: center;

}

.portfolio_link {
   display: block;
   color: #070707;
   text-decoration: underline;
   text-align: center;
}

.container_contacts{
   width: 1300px;
   height: 500px; 
}

.info_contacts {
   font-family: 'Gilroy';
   font-size: 34px;
   text-align: center;
   color: #070707;
   margin: 0px;
   line-height: 200px;
}

.text_contacts {
   font-family:'Gilroy';
   font-size: 18px;
   line-height: 22px;
   text-align: center;

   color: #070707;

}